<div class="container">
  <div class="page-header custom-header">
    <%= link_to movies_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
    <% end %>

    <button type="button" class="btn btn-default" id='btn-scanner' remote='true'><span class="glyphicon glyphicon-barcode"></span> Search by UPC</button>

    <button type="button" class="btn btn-default" id='btn-title-search' remote='true'><span class="glyphicon glyphicon-th"></span> Search by Title</button>

    <h1>New movie</h1>
  </div>
</div>

<div id='title-search'>
  <div class="search-flexbox">
    <%= form_tag(get_movies_path, :method => "get", id: "get-movies", class: "form-inline") do %>
      <div class="form-group">
        <%= text_field_tag :movie_title, params[:movie_title], id: 'movie-title', class: "form-control", placeholder: "Please type the Title of the Movie Here", style: 'width: 400px' %>
      </div>
        <button type="submit" class="btn btn-default" id='search-title' remote='true'><span class="glyphicon glyphicon-search"></span> Search</button>
    <% end %>
  </div>
</div>

<div class="container">
  <%= render 'form' %>
</div>

<div class="panel panel-default scanner-flexbox" id='show-scanner'>
  <div class="panel-heading">
    <h3 class="panel-title barcode-scanner-title">Barcode Scanner</h3>
  </div>
  <div class="panel-body">
    <div id='barcode-scanner'></div>
  </div>
</div>

<div class="modal fade" id="choose-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Click on the correct Item</h4>
      </div>
      <div class="modal-body">
        <ul class="custom-choice" id='movies-info'>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
