
  <%# notes %>
  <div class="form-group">
    <%= f.label(:notes, "Notes on Location", class: "col-sm-3 control-label") %>
    <div class="col-sm-9">
      <%= f.text_field :notes, class: "form-control" %>
    </div>
  </div>

  <%# watched %>
  <div class="form-group">
    <%= f.label(:watched, "I have watched this Episode", class: "col-sm-3 control-label") %>
    <div class="col-sm-9">
      <%= f.check_box :watched, class: "form-control" %>
    </div>
  </div>
