<div class="container">
  <div class="page-header custom-header">
    <%= link_to tv_seasons_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
    <% end %>
    <h1>New TV Season</h1>
  </div>

  <%= render 'form' %>
</div>
