.game-image-box-medium {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 185px;
  height: 278px;
}

.gameimage {
  max-width: 185px;
  max-height: 278px;
}