.s-ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box {
  border-bottom: 1px solid #cacaca;
  margin: 1em;
  text-align: right;
}

.mainimage {
  padding: 10px;
  border: 1px solid #cacaca;
  border-radius: 2px;
  margin: 0;
}

.textline {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.fav-heart {
  font-size: 30px;
}

.faved-heart {
  font-size: 30px;
  color: red;
}

.s-text {
  color: #c2cdcd;
}

.firsttextline {
  padding-top: 11px;
}

.secondtextline {
  margin-top: 0;
  padding-top: 0;
}

.custom-choice li {
  color: #c2cdcd;
  font-size: 14px;
  font-weight: bold;
}

.show-scanner {
  display: none;
}
