$grid-float-breakpoint:     994px;

.s-ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box {
  border-bottom: 1px solid #cacaca;
  margin: 1em;
  text-align: right;
  height: 375px;
  width: 185px;
}

.textline {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.firsttextline {
  padding-top: 5px;
  padding-bottom: 0;
  margin-bottom: 0;
  max-width: 175px;
  text-align: left;
  font-size: 16px;
}

.secondtextline {
  margin-top: 0;
  padding-top: 12px;
  font-size: 14px;
}

.fav-heart {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.fav-heart:hover {
  cursor: pointer;
}

.faved-heart {
  font-size: 24px;
  color: red;
}

.faved-heart:hover {
  cursor: pointer;
}

.game-fav-heart {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.game-fav-heart:hover {
  cursor: pointer;
}

.game-faved-heart {
  font-size: 24px;
  color: red;
}

.game-faved-heart:hover {
  cursor: pointer;
}

.s-text {
  color: #c2cdcd;
}

.custom-choice li {
  color: #c2cdcd;
  font-size: 16px;
  font-weight: bold;
}

.custom-choice li:hover {
  cursor: pointer;
}

.custom-game-choice li:hover {
  cursor: pointer;
}

.custom-game-choice li {
  color: #c2cdcd;
  font-size: 16px;
  font-weight: bold;
}

.minhour:hover {
  cursor: pointer;
}

.yearage:hover {
  cursor: pointer;
}

.api-logo {
  margin: 0;
  padding: 0 0 50px;
}
