$jumbotron-bg:                   hsla(187, 63%, 11%, 0.8);

html,
body {
  height: 100%;
}

.custom-body {
  background: image-url('bluegreenbokeh.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: #000304;
  font-family: 'Roboto Slab', serif;
}

.custom-brand {
  display: inherit;
  margin: 0;
  padding: 30px 0 10px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  font-family: 'Roboto Slab', serif;
  // font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
  font-weight: 400;
  line-height: normal;
  color: #dcf6fb;
}

.custom-address-bar {
  display: none;
}

.landing-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.s-btn {
  margin-right: 20px;
  margin-left: 20px;
}

.carousel,
.item,
.active {
  height: 100%;
}

.carousel-inner {
  width: 100%;
  align-items: center;
}

.fill {
  background-position: center;
}

.custom-text {
  margin-top: 10px;
  color: #dcf6fb;
}

footer {
  margin: 50px 0;
  color: #dcf6fb;
}

@media screen and (min-width:768px) {
  .s-navbar-header {
    display: none;
  }

  .s-navbar {
    border-radius: 0;
    min-height: 0;
    }

  .s-navbar-nav>li {
    line-height: normal;
  }

  .s-navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    float: none;
    margin: 0 auto;
    // table-layout: fixed;
    font-size: 1.25em;
  }

  .s-nav>li {
    padding: 20px;
    align-items: center;
  }

  .s-navbar-default {
    border: none;
    background: #fff;
    background: rgba(255,255,255,0.9);
  }

  .custom-brand {
    display: inherit;
    margin: 0;
    padding: 30px 0 10px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-family: 'Roboto Slab', serif;
    // font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 5em;
    font-weight: 700;
    line-height: normal;
    color: #dcf6fb;
  }

  .custom-address-bar {
    display: inherit;
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 3px;
    color: #fff;
  }

}

@media screen and (min-width:1200px) {
  .box:after {
    content: '';
    display: table;
    clear: both;
  }
}

@media screen and (min-width:1490px) {
    .fill {
      border-width: thick;
    }
}
