.custom-media {
  font-size: 18px;
  color: #c2cdcd;
}
.custom-media-heading {
 font-weight: bold;
 color: #c2cdcd;
}

.custom-header h1 {
  color: #c2cdcd;
}

#title-search {
  display: none;
  padding: 20px;
  margin: 10px;
}

.search-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameimage {
  width: 300px;
}

$size: 35px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

.custom-well {
  max-width: 225px;
  color: black;
}

$well-bg:                     #f5f5f5;
$well-border:                 darken($well-bg, 20%);
$well-sm-border-radius:       10px;

.header-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-flexbox {
  align-self: center;
}

.flextitle {
  text-align: left;
  align-self: flex-start;
}
