@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Slab');

$font-family-sans-serif:  'Roboto', 'Open Sans', sans-serif;
$font-family-serif:       'Roboto Slab', serif;
$font-family-base:        $font-family-sans-serif;

.custom-media {
  font-size: 18px;
  color: #c2cdcd;
}
.custom-media-heading {
 font-weight: bold;
 color: #c2cdcd;
}

.custom-header h1 {
  font-family: 'Roboto Slab', serif;
  color: #c2cdcd;
}

$size: 35px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

.custom-well {
  max-width: 225px;
  color: black;
}

$well-bg:                     #f5f5f5;
$well-border:                 darken($well-bg, 20%);
$well-sm-border-radius:       10px;

.header-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.social-flexbox {
  align-self: center;
  padding: 0 40px;
}

.flextitle {
  text-align: left;
  align-self: flex-start;
}

.show-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.inner-show-flexbox {
  padding: 5px;
}

@media screen and (min-width:768px) {
  .header-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
