.tv-search-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.tv-form-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.tv-custom {
  margin-bottom: 20px;
}
