<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      .warning {
        background-color: #d4fcfc;
        border:1px solid #23a4a4;
    }

    .alert-box {
      color:#212121;
      border-radius:10px;
      font-family: 'Roboto Slab', serif;font-size:12px;
      padding:10px 10px 10px 36px;
      margin:10px;
    }

    .text-center {
      text-align: center;
    }
    </style>
  </head>

  <body>
      <div class="alert-box warning">
        <h1 class="text-center">Hello <%= @email %>!</h1>

        <% if @resource.try(:unconfirmed_email?) %>
          <h3 class="text-center">We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</h3>
        <% else %>
          <h3 class="text-center">We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</h3>
        <% end %>
      </div>
  </body>
</html>
