<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      .warning {
        background-color: #d4fcfc;
        border:1px solid #23a4a4;
    }

    .alert-box {
      color:#212121;
      border-radius:10px;
      font-family: 'Roboto Slab', serif;font-size:12px;
      padding:10px 10px 10px 36px;
      margin:10px;
    }

    .text-center {
      text-align: center;
    }
    </style>
  </head>

  <body>
    <div class="alert-box warning">
      <h1 class="text-center">Hello <%= @resource.email %>!</h1>

      <h3 class="text-center">Someone has requested a link to change your password. You can do this through the link below.</h3>

      <h3 class="text-center"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></h3>

      <h3 class="text-center">If you didn't request this, please ignore this email.</h3>
      <h3 class="text-center">Your password won't change until you access the link above and create a new one.</h3>
    </div>
  </body>
</html>
