
  <%# notes %>
  <div class="form-group">
    <%= f.label :notes, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :notes, class: "form-control" %>
    </div>
  </div>
