<div class="container">
  <div class="page-header custom-header">
    <%= link_to tv_episodes_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
    <% end %>
    <%= link_to @tv_episode, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-info-sign"></span>
      Show
    <% end %>
    <h1>Editing TV Episode</h1>
  </div>
</div>

<div class="container">
  <%= render 'form' %>
</div>
