<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      .warning {
        background-color: #a4f9f9;
        border:2px solid #23a4a4;
    }

    .alert-box {
      color:#212121;
      border-radius:10px;
      font-family: 'Roboto Slab', serif;font-size:12px;
      padding:10px 10px 10px 36px;
      margin:10px;
    }

    .text-center {
      text-align: center;
    }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
